<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProgramCI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8F9B02B2264D79700B2DBF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F9B03F2264D79A00B2DBF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8F9B04A2264D79A00B2DBF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
